
* {
    -fx-white-color: #FFFFFF;
    -fx-light-color: #F3F4F7;
    -fx-gray-color: #7D879B;
    -fx-gray-dark-color: #55627c;
    -fx-dark-color: #141B29;
    -fx-primary-color: #C03B39;
    -fx-primary-light-color: #CF5E5E ;
    -fx-secundary-color: #203A4B;
    -fx-secundary-light-color: #40798C;
}

.inter-font-semibold {
    -fx-font-family: 'Inter 24pt SemiBold';
}

.khand-font {
    -fx-font-family: 'Khand';
}

.khand-medium-font {
    -fx-font-family: 'Khand Medium';
}

.bg-upscaling {
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}

.bg-light {
    -fx-background-color: -fx-light-color;
}

.circle-18 {
    -fx-stroke-width: 18;
    -fx-fill: transparent;
    -fx-stroke: -fx-light-color;
}
.pagination {
    -fx-min-height: 80;
    -fx-pref-height: 80;
    -fx-max-height: 80;
    -fx-hgap: 100;
    -fx-alignment: center;
}

.pagination .pagination-control {
    -fx-min-height: 80;
    -fx-pref-height: 80;
    -fx-max-height: 80;
    -fx-alignment: center;
}

.pagination .control-box {
    -fx-spacing: 10;
}

.pagination .number-button{
    -fx-min-width: 62;
    -fx-pref-width: 62;
    -fx-max-width: 62;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-height: 62;
    -fx-pref-height: 62;
    -fx-max-height: 62;
    -fx-padding: 0;
    -fx-background-radius: 8;
    -fx-background-color: -fx-gray-color;
    -fx-text-fill: -fx-white-color;
}

.pagination .number-button:hover {
    -fx-background-color: -fx-gray-dark-color;
}

.pagination .number-button:selected {
    -fx-background-color: -fx-primary-color;
}

.pagination .left-arrow::before {
    content: "";
}

.pagination .left-arrow-button {
    -fx-min-width: 62;
    -fx-pref-width: 62;
    -fx-max-width: 62;
    -fx-alignment: center;
    -fx-padding: 0;
    -fx-text-alignment: center;
    -fx-min-height: 62;
    -fx-pref-height: 62;
    -fx-max-height: 62;

    -fx-background-radius: 8;
    -fx-background-color: -fx-gray-color;
    -fx-fill: -fx-white-color;
}

.pagination .left-arrow-button:hover {
    -fx-background-color: -fx-gray-dark-color;
}

.pagination .left-arrow-button .left-arrow {
    -fx-alignment: center;
    -fx-shape: "M26.7367 31.7717L8.40332 20.105L26.7367 8.43835V31.7717ZM23.9587 26.7163V13.4938L13.57 20.105L23.9587 26.7163Z";
    -fx-mark-color: -fx-white-color;
    -fx-background-color: -fx-white-color;  
    -fx-scale-x: 1.3;                
    -fx-scale-y: 1.3;  
    -fx-effect: none;
    -fx-stroke: -fx-white-color;
    -fx-fill: -fx-white-color;

}

.p-10-16-16-16 {
    -fx-padding: 10 16 16 16;
}

.pagination .right-arrow-button:hover {
    -fx-background-color: -fx-gray-dark-color;
}

.pagination .right-arrow-button .right-arrow {
    -fx-alignment: center;
    -fx-shape: "M13.403 31.7717L31.7363 20.105L13.403 8.43835V31.7717ZM16.1809 26.7163V13.4938L26.5697 20.105L16.1809 26.7163Z";
    -fx-mark-color: -fx-white-color;
    -fx-background-color: -fx-white-color;  
    -fx-scale-x: 1.3;                
    -fx-scale-y: 1.3;  
    -fx-effect: none;
    -fx-stroke: -fx-white-color;
    -fx-fill: -fx-white-color;

}

.pagination .right-arrow-button {
    -fx-min-width: 62;
    -fx-pref-width: 62;
    -fx-max-width: 62;
    -fx-padding: 0;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-height: 62;
    -fx-pref-height: 62;
    -fx-max-height: 62;

    -fx-background-radius: 8;
    -fx-background-color: -fx-gray-color;
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.gap-3 {
    -fx-spacing: 3px;
}

.date-picker {
    -fx-border-width: 2;
    -fx-border-color: -fx-gray-color;
    -fx-background-color: -fx-white-color;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.date-picker-display-node  {
    -fx-padding: 0 0 0 10;
}

.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-pref-width: 32;
    -fx-max-width: 32;
    -fx-min-width: 32;
}

.date-picker .arrow-button .arrow {
    -fx-shape: "M8.34823 37.1018C7.59823 37.1018 6.94767 36.8264 6.39656 36.2755C5.84573 35.7244 5.57031 35.0739 5.57031 34.3239V9.32385C5.57031 8.57385 5.84573 7.92343 6.39656 7.3726C6.94767 6.82177 7.59823 6.54635 8.34823 6.54635H10.7091V3.76843H13.6257V6.54635H27.5149V3.76843H30.4316V6.54635H32.7924C33.5424 6.54635 34.193 6.82177 34.7441 7.3726C35.2949 7.92343 35.5703 8.57385 35.5703 9.32385V34.3239C35.5703 35.0739 35.2949 35.7244 34.7441 36.2755C34.193 36.8264 33.5424 37.1018 32.7924 37.1018H8.34823ZM8.34823 34.3239H32.7924V16.8239H8.34823V34.3239ZM8.34823 14.0463H32.7924V9.32385H8.34823V14.0463ZM20.5703 23.7684C20.0981 23.7684 19.7023 23.6087 19.3828 23.2893C19.0634 22.9698 18.9036 22.574 18.9036 22.1018C18.9036 21.6295 19.0634 21.2337 19.3828 20.9143C19.7023 20.5948 20.0981 20.4351 20.5703 20.4351C21.0425 20.4351 21.4384 20.5948 21.7578 20.9143C22.0773 21.2337 22.237 21.6295 22.237 22.1018C22.237 22.574 22.0773 22.9698 21.7578 23.2893C21.4384 23.6087 21.0425 23.7684 20.5703 23.7684ZM13.9036 23.7684C13.4314 23.7684 13.0356 23.6087 12.7161 23.2893C12.3967 22.9698 12.237 22.574 12.237 22.1018C12.237 21.6295 12.3967 21.2337 12.7161 20.9143C13.0356 20.5948 13.4314 20.4351 13.9036 20.4351C14.3759 20.4351 14.7717 20.5948 15.0911 20.9143C15.4106 21.2337 15.5703 21.6295 15.5703 22.1018C15.5703 22.574 15.4106 22.9698 15.0911 23.2893C14.7717 23.6087 14.3759 23.7684 13.9036 23.7684ZM27.237 23.7684C26.7648 23.7684 26.3689 23.6087 26.0495 23.2893C25.73 22.9698 25.5703 22.574 25.5703 22.1018C25.5703 21.6295 25.73 21.2337 26.0495 20.9143C26.3689 20.5948 26.7648 20.4351 27.237 20.4351C27.7092 20.4351 28.105 20.5948 28.4245 20.9143C28.7439 21.2337 28.9036 21.6295 28.9036 22.1018C28.9036 22.574 28.7439 22.9698 28.4245 23.2893C28.105 23.6087 27.7092 23.7684 27.237 23.7684ZM20.5703 30.4351C20.0981 30.4351 19.7023 30.2754 19.3828 29.9559C19.0634 29.6365 18.9036 29.2407 18.9036 28.7684C18.9036 28.2962 19.0634 27.9004 19.3828 27.5809C19.7023 27.2615 20.0981 27.1018 20.5703 27.1018C21.0425 27.1018 21.4384 27.2615 21.7578 27.5809C22.0773 27.9004 22.237 28.2962 22.237 28.7684C22.237 29.2407 22.0773 29.6365 21.7578 29.9559C21.4384 30.2754 21.0425 30.4351 20.5703 30.4351ZM13.9036 30.4351C13.4314 30.4351 13.0356 30.2754 12.7161 29.9559C12.3967 29.6365 12.237 29.2407 12.237 28.7684C12.237 28.2962 12.3967 27.9004 12.7161 27.5809C13.0356 27.2615 13.4314 27.1018 13.9036 27.1018C14.3759 27.1018 14.7717 27.2615 15.0911 27.5809C15.4106 27.9004 15.5703 28.2962 15.5703 28.7684C15.5703 29.2407 15.4106 29.6365 15.0911 29.9559C14.7717 30.2754 14.3759 30.4351 13.9036 30.4351ZM27.237 30.4351C26.7648 30.4351 26.3689 30.2754 26.0495 29.9559C25.73 29.6365 25.5703 29.2407 25.5703 28.7684C25.5703 28.2962 25.73 27.9004 26.0495 27.5809C26.3689 27.2615 26.7648 27.1018 27.237 27.1018C27.7092 27.1018 28.105 27.2615 28.4245 27.5809C28.7439 27.9004 28.9036 28.2962 28.9036 28.7684C28.9036 29.2407 28.7439 29.6365 28.4245 29.9559C28.105 30.2754 27.7092 30.4351 27.237 30.4351Z";  
    -fx-stroke: -fx-gray-color;
    -fx-fill: -fx-gray-color;
    -fx-background-color: -fx-gray-color;
}

.date-picker .text-field {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-gray-color;
}

.date-picker-popup {
    -fx-border-width: 2;
    -fx-border-color: -fx-gray-color;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 0;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-gray-color;
    -fx-background-radius: 5 5 0 0;
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.date-picker-popup .month-year-pane .label{
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.date-picker-popup .calendar-grid {
    -fx-background-radius: 5;
    -fx-background-color: transparent;
    -fx-border-radius: 5;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-padding: 5;
    -fx-hgap: 3px;
    -fx-vgap: 3px;
}

.date-picker-popup .calendar-grid * {
    -fx-pref-width: 60px;
    -fx-min-width: 60px;
    -fx-max-width: 60px;
}

.date-picker .cell:hover {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.date-picker .selected {
    -fx-background-color: -fx-white-color, -fx-primary-color, -fx-white-color;
    -fx-background-insets: 1, 2, 4;
    -fx-text-fill: -fx-primary-color;
}

.date-picker .today {
    -fx-background-color: -fx-white-color, -fx-gray-color, -fx-white-color;
    -fx-background-insets: 1, 2, 4;
}

.date-picker-popup .day-cell {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.date-picker-popup > * > .spinner > .button {
    -fx-pref-width: 40px;    
    -fx-max-width: 40px;    
    -fx-min-width: 40px;    
    -fx-pref-height: 40px;    
    -fx-max-height: 40px;    
    -fx-min-height: 40px;
    -fx-border-radius: 8px;    
    -fx-background-radius: 8px; 
}

.date-picker-popup > * > .spinner > .button:hover,
.date-picker-popup > * > .spinner > .button:focused{
    -fx-background-color: -fx-white-color;
}

.date-picker-popup > * > .spinner > .button:hover .left-arrow,
.date-picker-popup > * > .spinner > .button:focused .left-arrow,
.date-picker-popup > * > .spinner > .button:hover .right-arrow,
.date-picker-popup > * > .spinner > .button:focused .right-arrow {
    -fx-fill: -fx-gray-color;
    -fx-background-color: -fx-gray-color;
    -fx-background-insets: 0;
    -fx-stroke: -fx-gray-color;
    -fx-effect: none;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-fill: -fx-white-color;
    -fx-background-color: -fx-white-color;
    -fx-background-insets: 0;
    -fx-stroke: -fx-white-color;
    -fx-effect: none;
}

.spinner-container .spinner {
    -fx-background-color: -fx-white-color;    
}

.spinner-container .spinner > .text-field {
    -fx-padding: 0 10 0 10;
    -fx-font-size: 24px;
    -fx-text-fill: -fx-gray-color;
    -fx-background-color: 
        transparent transparent transparent transparent, 
        -fx-gray-color -fx-gray-color -fx-gray-color -fx-gray-color,
        -fx-white-color -fx-white-color -fx-white-color -fx-white-color;
    -fx-background-insets: 
        0 0 0 0, 
        0 5 0 0,
        2 7 2 2;
    -fx-background-radius: 
        0 0 0 0,
        8 8 8 8,
        6 6 6 6;
}

.spinner-container .spinner .increment-arrow-button {
    -fx-background-color: -fx-primary-color; 
    -fx-border-color: -fx-white-color;
    -fx-border-width: 0 0 1 0;
    -fx-background-radius: 4 4 0 0;
    -fx-padding: 0 13 0 13; 
}

.spinner-container .spinner .increment-arrow-button:hover {
    -fx-background-color: -fx-primary-light-color;
}

.spinner-container .spinner .increment-arrow-button .increment-arrow {
    -fx-shape: "M11.0698 13.0217H5.06982V11.0217H11.0698V5.02173H13.0698V11.0217H19.0698V13.0217H13.0698V19.0217H11.0698V13.0217Z";
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-shape: false;
    -fx-effect: none;
    -fx-fill: -fx-white-color;
    -fx-stroke: -fx-white-color;
    -fx-background-color: -fx-white-color;
}

.spinner-container .spinner .decrement-arrow-button:hover {
    -fx-background-color: -fx-primary-light-color;
}

.spinner-container .spinner .decrement-arrow-button {
    -fx-background-color: -fx-primary-color; 
    -fx-border-color: -fx-white-color;
    -fx-border-width: 1 0 0 0;
    -fx-background-radius: 0 0 4 4;
    -fx-padding: 0 13 0 13; 
}

.spinner-container .spinner .decrement-arrow-button .decrement-arrow {
    -fx-shape: "M5.56982 13.0217V11.0217H19.5698V13.0217H5.56982Z";
    -fx-scale-x: 1;
    -fx-scale-y: 1;
    -fx-scale-shape: false;
    -fx-effect: none;
    -fx-fill: -fx-white-color;
    -fx-stroke: -fx-white-color;
    -fx-background-color: -fx-white-color;
}





.basic-text-field:focused {
    -fx-stroke: -fx-gray-color;
    -fx-fill: transparent;
    -fx-background-color: transparent;
}

.no-stroke {
    -fx-stroke-width: 0;
    -fx-stroke: transparent;
}

.fill-gray {
    -fx-fill: -fx-gray-color;
}

.fill-primary {
    -fx-fill: -fx-primary-color;
}


.m-10 {
    -fx-start-margin: 10;
}

.stroke-2 {
    -fx-stroke-width: 2;
}

.hgap-10 {
    -fx-hgap: 10;
}

.vgap-10 {
    -fx-vgap: 10;
}

.hgap-25 {
    -fx-hgap: 25;
}

.hgap-24 {
    -fx-hgap: 24;
}

.b-dash {
    -fx-border-style: segments(8, 6) inside line-join round line-cap round;
}


.b-3 {
    -fx-border-width: 3;
}

.btn-outline {
    -fx-text-fill: -fx-primary-color;
    -fx-border-width: 3;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 28;
    -fx-border-radius: 28;
    -fx-border-color: -fx-primary-color;
    -fx-background-insets: 1;
}

.btn-outline:hover {
    -fx-text-fill: -fx-white-color;
    -fx-border-width: 3;
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 28;
    -fx-border-radius: 28;
    -fx-border-color: -fx-primary-color;
    -fx-background-insets: 1;
}

.btn-group-outline {
    -fx-text-fill: -fx-primary-color;
}

.btn-group-outline:hover {
    -fx-background-color: -fx-primary-color;
}

.btn-group-outline:pressed {
    -fx-background-color: -fx-primary-light-color;
    -fx-border-color: -fx-primary-light-color;
}

.btn-group-outline-start {
    -fx-border-width: 3 1.5 3 3;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 28 0 0 28;
    -fx-background-insets: 1;
}

.btn-group-outline-end {
    -fx-border-width: 3 3 3 1.5;
    -fx-background-color: -fx-white-color;
    -fx-background-radius: 0 28 28 0;
    -fx-background-insets: 1;
}

.b-gray {
    -fx-border-color: -fx-gray-color;
}

.b-gray:focused {
    -fx-border-color: -fx-gray-color;
}

.stroke-3 {
    -fx-stroke-width: 3;
}

.search-field {
    -fx-padding: 0 0 0 50;
}

.search-field:focused {
    -fx-stroke: -fx-gray-color;
    -fx-fill: transparent;
    -fx-background-color: transparent;
}


.stroke-gray {
    -fx-stroke: -fx-gray-color;
}

.stroke-secundary {
    -fx-stroke: -fx-secundary-color;
}

.fill-white {
    -fx-fill: -fx-white-color;
}

.stroke-white {
    -fx-stroke: -fx-white-color;
}


.fill-secundary {
    -fx-fill: -fx-secundary-color;
}

.circle-3 {
    -fx-stroke-width: 3;
    -fx-fill: transparent;
    -fx-stroke: -fx-light-color;
}

.no-effects { 
    -fx-effect: null; 
}
.bg-signin {
    -fx-background-image: url("../images/pawel-czerwinski-unsplash.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    
}

.ubuntu-font-medium {
    -fx-font-family: 'Ubuntu Medium';
}

.radio-button {
    -fx-padding: 0px;
}
.radio-button .radio {
    -fx-background-color: transparent;
    -fx-border-color: -fx-gray-color; 
    -fx-border-width: 2px; 
    -fx-border-radius: 16;
    -fx-min-width: 32px;
    -fx-max-width: 32px;
    -fx-pref-width: 32px;
    -fx-alignment: center;
    -fx-padding: 0px;
    
    -fx-min-height: 32px;
    -fx-max-height: 32px;
    -fx-pref-height: 32px;
}

.radio-button:selected .radio .dot {
    -fx-padding: 0px;
    -fx-alignment: center;
    -fx-background-color: -fx-primary-color;
    -fx-pref-width: 16px;
    -fx-max-width: 16px;
    -fx-min-width: 16px;
    -fx-pref-height: 16px;
    -fx-max-height: 16px;
    -fx-min-height: 16px;
    -fx-translate-y: -1;
}

.fs-14 {
    -fx-font-size: 14px;
}

.fs-18 {
    -fx-font-size: 18px;
}

.fs-40 {
    -fx-font-size: 40px;
}

.fs-24 {
    -fx-font-size: 24px;
}

.fs-32 {
    -fx-font-size: 32px;
}

.fs-36 {
    -fx-font-size: 36px;
}

.bg-dark {
    -fx-background-color: -fx-dark-color;
}

.bg-transparent {
    -fx-background-color: transparent;
}

.bg-primary {
    -fx-background-color: -fx-primary-color;
}

.p-0 {
    -fx-padding: 0px;
}

.p-10-10-32-24 {
    -fx-padding: 32 10 24 10;
}

.b-2 {
    -fx-border-width: 2;
}

.b-0 {
    -fx-border-width: 0;
}
.p-logo {
    -fx-padding: 30 10 10 10;
}

.bg-rounded-bottom-4 {
    -fx-background-radius: 0 0 4 4;
}

.bg-rounded-top-4 {
    -fx-background-radius: 4 4 0 0;
}

.bg-rounded-bottom-12 {
    -fx-background-radius: 0 0 12 12;
}
.bg-rounded-top-12 {
    -fx-background-radius: 12 12 0 0;
}

.bg-rounded-top-8 {
    -fx-background-radius: 8 8 0 0;
}

.bg-rounded-bottom-8 {
    -fx-background-radius: 0 0 8 8;
}

.gap-0 {
    -fx-spacing: 0px;
}

.gap-20 {
    -fx-spacing: 20px;
}

.toggle-btn-primary {
    -fx-background-color: -fx-light-color;
}

.toggle-btn-primary:hover {
    -fx-background-color: -fx-primary-color;
}

.toggle-btn-primary:selected {
    -fx-background-color: -fx-primary-color;
}

.toggle-btn-primary .text{
    -fx-text-fill: -fx-gray-color;
    -fx-fill: -fx-gray-color;
}

.toggle-btn-primary:hover .text{
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.toggle-btn-primary:selected .text{
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.alert {
    -fx-font-family: 'Khand';
    -fx-font-size: 18;
}

.alert .button {
    -fx-background-color: -fx-primary-color;
}

.alert .button:hover {
    -fx-background-color: -fx-primary-light-color;
}

.alert .button .text {
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.btn-primary {
    -fx-background-color: -fx-primary-color;
}

.btn-primary:hover {
    -fx-background-color: -fx-primary-light-color;
}

.btn-primary .text{
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.btn-primary-container:hover .btn-primary {
    -fx-background-color: -fx-primary-light-color;
}

.btn-primary:pressed {
    -fx-background-color: -fx-primary-light-color; 
}

.choice-box {
    -fx-background-color: transparent;
    -fx-border-color: -fx-gray-color;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-padding: 0;
    -fx-background-radius: 8;
}

.choice-box .arrow-button {
    -fx-background-color: transparent;
    -fx-mark-color: -fx-gray-color;
}

.choice-box .arrow {
    -fx-shape: "M20.0699 25.0217L11.7366 16.7163H28.4032L20.0699 25.0217Z";
    -fx-mark-color: -fx-gray-color;
    -fx-stroke: -fx-gray-color;
    -fx-fill: -fx-gray-color;
}

.choice-box .label {
    -fx-padding: 0 0 0 10;
    -fx-alignment: center-left;
    -fx-text-alignment: left; 
}
.choice-box .text {
    -fx-padding: 0 0 0 10;
    -fx-fill: -fx-gray-color;
    -fx-alignment: center-left;
    -fx-text-alignment: left; 
}

.choice-box .menu-item:focused {
    -fx-background-color: -fx-gray-color;
    -fx-text-fill: -fx-white-color; 
}

.choice-box .menu-item:focused .text {
    -fx-fill: -fx-white-color;
}

.choice-box .menu-item:hover {
    -fx-background-color: -fx-gray-color;
    -fx-text-fill: -fx-white-color; 
}

.choice-box .menu-item:hover .text {
    -fx-fill: -fx-white-color;
}

.choice-box .context-menu {
    -fx-min-width: 204;  
    -fx-max-width: 204;
    -fx-pref-width: 204; 
    
    -fx-border-color: -fx-gray-color;  
    -fx-border-width: 2px;     
    -fx-border-radius: 5px;     
    -fx-background-radius: 5px;
}


.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: -fx-gray-color;
    -fx-border-width: 2;
    -fx-border-radius: 8;
    -fx-padding: 0;
    -fx-background-radius: 8;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-mark-color: -fx-gray-color;
}

.combo-box .arrow {
    -fx-shape: "M20.0699 25.0217L11.7366 16.7163H28.4032L20.0699 25.0217Z";
    -fx-mark-color: -fx-gray-color;
    -fx-stroke: -fx-gray-color;
    -fx-fill: -fx-gray-color;
}

.combo-box .text-field {
    -fx-padding: 0 0 0 10;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-gray-color;
}

.combo-box .list-view {
    -fx-border-color: -fx-gray-color;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: -fx-white-color;
    -fx-min-width: 204;
    -fx-max-width: 204;
    -fx-pref-width: 204;
}

.combo-box .list-cell {
    -fx-padding: 5 0 5 10;
    -fx-background-color: -fx-white-color;
    -fx-text-fill: -fx-gray-color;
}

.combo-box .list-cell:hover {
    -fx-background-color: -fx-gray-color;
    -fx-text-fill: -fx-white-color;
}

.combo-box .list-cell:focused {
    -fx-background-color: -fx-gray-color;
    -fx-text-fill: -fx-white-color;
}

.combo-box-popup .list-view {
    -fx-background-color: transparent;
}


.filter-flow-pane {
    -fx-hgap: 10;
    -fx-vgap: 10
}

.bg-secundary {
    -fx-background-color: -fx-secundary-color;
}

.bg-white {
    -fx-background-color: -fx-white-color;
}

.link {
    -fx-underline: true;
    -fx-text-fill: -fx-secundary-light-color;
    -fx-cursor: hand;
}

.py-10 {
    -fx-padding: 10 0 10 0;
}

.p-32 {
    -fx-padding: 32px;
}

.p-32-8 {
    -fx-padding: 8 32 8 32;
}

.p-16 {
    -fx-padding: 16;
}

.px-16 {
    -fx-padding: 0 16 0 16;
}

.gap-80 {
    -fx-spacing: 80;
}

.rounded-8 {
    -fx-border-radius: 8px;
}

.rounded-12 {
    -fx-border-radius: 12px;
}


.bg-rounded-8 {
    -fx-background-radius: 8px;
}

.bg-rounded-12 {
    -fx-background-radius: 12px;
}

.rounded-28 {
    -fx-border-radius: 28px;
}

.rounded-left-28 {
    -fx-border-radius: 28 0 0 28;
}

.rounded-right-28 {
    -fx-border-radius: 0 28 28 0;
}

.bg-radius-8 {
    -fx-background-radius: 8px;
}

.b-primary {
    -fx-border-color: -fx-primary-color;
}

.b-radius-16 {
    -fx-border-radius: 16px;
}

.bg-radius-16 {
    -fx-background-radius: 16px;
}

.product-table-view {
    -fx-background-color: -fx-white-color;
    -fx-text-fill: -fx-gray-color; 
}


.product-table-view .table-header-row {
    -fx-background-color: -fx-white-color; 
}

.product-table-view .column-header {
    -fx-background-color: -fx-white-color;
    -fx-border-color: -fx-dark-color;
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid;
    -fx-text-fill: -fx-gray-color; 
}

.table-view .column-header-background {
    -fx-background-color: -fx-white-color;
    -fx-fill: -fx-white-color;

}


.image-view {
    -fx-alignment: center;
    -fx-padding: 0;
}

.image-container .image-view .image {
    -fx-alignment: center;
    -fx-padding: 0;
}



.table-view .column-header-background .filler{
    -fx-background-color: -fx-white-color;
    -fx-fill: -fx-white-color;
    -fx-border-color: -fx-dark-color;
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid;
}

.product-table-view .column-header .label {
    -fx-background-color: -fx-white-color;
    -fx-text-fill: -fx-gray-color;
    -fx-border-color: -fx-dark-color;
    -fx-border-width: 0 0 3 0;
    -fx-border-style: solid;
}

.product-table-view .column-header .label {
    -fx-font-family: 'Khand Medium'; 
    -fx-font-size: 24px;  
    -fx-text-fill: -fx-gray-color;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
}

.product-table-view .table-cell {
    -fx-font-family: 'Khand Medium'; 
    -fx-font-size: 24px;  
    -fx-alignment: center-left;
    -fx-padding: 0;
    -fx-text-fill: -fx-gray-color;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.table-row-cell {
    -fx-border-color: -fx-gray-color;
    -fx-border-width: 0 0 2 0;
    -fx-min-height: 156;
    -fx-max-height: 156;
    -fx-padding: 0;
}

.table-row-cell:filled:selected {
    -fx-background-color: -fx-gray-color;
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
    -fx-border-color: -fx-gray-color;
    -fx-border-width: 0 0 2 0;
}

.table-row-cell:filled:selected .text {
    -fx-text-fill: -fx-white-color;
    -fx-fill: -fx-white-color;
}

.table-row-cell .button .text {
    -fx-text-fill: -fx-primary-color;
    -fx-fill: -fx-primary-color;
}

.table-row-cell .button:hover .text {
    -fx-text-fill: -fx-white-color;
    -fx-fill:  -fx-white-color;
}

.table-row-cell .text {
    -fx-text-fill: -fx-gray-color;
    -fx-fill: -fx-gray-color;
}

.table-row-cell:filled:hover {
    -fx-background-color: -fx-light-color;
} 
.table-row-cell:filled:selected:hover {
    -fx-background-color: -fx-gray-dark-color;
}

.table-row-cell:filled:selected:hover .text {
    -fx-text-fill: -fx-gray-color;
    -fx-fill: -fx-gray-color;
}

.table-row-cell:odd {
    -fx-background-color: -fx-white-color;
}

.table-row-cell:even {
    -fx-background-color: -fx-white-color;
}


.gap-10 {
    -fx-spacing: 10px;
}

.gap-5 {
    -fx-spacing: 5px;
}

.gap-16 {
    -fx-spacing: 16px;
}

.min-h-70 {
    -fx-min-height: 70px;
}

.h-70 {
    -fx-pref-height: 70px;
}


.txt-white {
    -fx-text-fill: -fx-white-color;
}

.txt-dark {
    -fx-text-fill: -fx-dark-color;
}

.txt-primary {
    -fx-text-fill: -fx-primary-color;
}

.txt-secundary {
    -fx-text-fill: -fx-secundary-color;
}

.txt-gray {
    -fx-text-fill: -fx-gray-color;
}

.prompt-txt-gray {
    -fx-prompt-text-fill: -fx-gray-color;
}

.p-85 {
    -fx-padding: 85px;
}

.p-10 {
    -fx-padding: 10px;
}

.p-5-10 {
    -fx-padding: 10 5; 
}

.gap-32 {
    -fx-spacing: 32px;
}

.cursor-hand {
    -fx-cursor: hand;
}

.all-nav-button {
    -fx-cursor: hand;
}

.nav-button {
    -fx-background-color: transparent;
}

.nav-button-current {
    -fx-background-color: -fx-primary-color;
}